/* seletores para usar no css:
- nome do elemento, exemplo: h3, nav, p
- classe (inicia com .)
- id (inicia com #) */
body { 
    font-family: Arial, Helvetica, sans-serif,monospace;
    font-size: 1.2em;
}
.logo{
    height: 50px;
    width: 50px;

}